body{
    background-color: rgb(176, 245, 228);
}
h1{
    background-color: rgb(255, 255, 63);
    color: darkgreen;
}
h2{
    background-color: rgb(245, 245, 139);
    color: rgb(253, 152, 0);
}
p{
    color: rgb(94, 69, 7);
}